
#fold{
    height: 950px;
}


#mob-logo{
    width: 200px;
    display: none;
}



#grey-cont{
    background-color: #2B2525;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#zeleni{
    background-color: #342D2D;
    width: 50%;
    height: 400px;
    padding: 35px 5% 0 5%;
    position: relative;
    left: -10%;
}

#img-radovi{
    width: 100%;
    margin: 100px 0 100px 0;
}

#o{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding:100px 0;
    background-color: #342D2D;
    align-items: center;
}

h5{
    font-size: 64px;
    font-weight: lighter;
}

#seba{
    width: 100%;
}

button{
    margin-left: -2.5%;
}

#sivi{
    background-color: #2B2525;
    width: 80%;
    height: 400px;
    padding-left: 10%;
    padding-top: 35px;
    padding-right: 2%;
}

pre{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;
}

#kontakt{
    display: flex;
    flex-direction: row;
    background-color: #2B2525;
    align-items: center;
}

#ruke{
    width: 40%;
    align-self: center;
}

picture{
    width: 100%;
}

#sivi2{
    margin-left: 5%;
    width: 55%;
    background-color: #342D2D;
    height:450px;
    padding: 35px 0 0 5%;
}

#sivi2 pre{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: sans-serif;
}

#sivi2 button{
    margin-top: 20px;
}

#red{
    display: flex;
    flex-direction: row;
}

#linkovi{
    margin-left: 2%;
}

#linkovi a{
    margin:0;
    padding:0;
    text-decoration: none;
    color: white;
}

#linkovi a:hover p{
    opacity: 1;
}


@media only screen and (max-width: 1248px) {
    #grey-cont{
        flex-direction: column-reverse;
    }
    #img-radovi{
        width: 100%;
        margin: 0;
        margin: 0 auto;
    }
    #zeleni{
        background-color: #342D2D;
        width: 100%;
        padding-bottom: 35px;
        left:0;
        margin-bottom: 0;
    }
    #o{
        flex-direction: column-reverse;
        padding:0;
    }
    #seba{
        width: 100%;
        margin: 0;
    }
    #sivi{
        background-color: #342D2D;
        width: 100%;
        left:0;
    }
    #kontakt{
        flex-direction: column;
        padding:0;
    }
    #ruke{
        display: none;
    }
    #sivi2{
        background-color: #342D2D;
        width: 100%;
        left:0;
        padding: 35px 5%;
        margin: 0;
    }
}


@media only screen and (max-width: 767px) {
    #maliLogo, .crta, #red-line, #fold-box-text, .nav-list-wrapper.open{
        display: none;
    }
    #mobilMeni{
        display: block;
        float: right;
        margin-right: 4%;
    }

    #mob-logo{
        display: block;
        margin: 0 auto;
    }

    #grey-cont, #kontakt, #o{
        align-items: center;
        text-align: center;
    }

    #sivi, #zeleni{
        padding:20px 2% 35px 2%;
        margin:0;
        height: 350px;
    }

    #sivi2{
        text-align:left;
        margin: 0 auto;
    }
    h5{
        font-size: 48px;
    }
    #sivi, #sivi2, #zeleni{
        height: 450px;
    }


    
}