#fold{
    height: 300px;
    margin-bottom: 50px;
}

body{
    background-image: url("img/fold3.jpg");
    background-size: 100% 400px;
}

#fold-box{
    margin-top: 50px;
}

#slike{
    background-color: #342D2D;
    width: 100%;
    max-width: none;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    padding: 0 2%;
}

.colum{
    width: 31%;
    margin: 1%;
}

.colum a{
    padding: 0;
    margin: 0;
}

.colum img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    filter: grayscale(100%);
    transition: 0.2s;
}

.colum img:hover{
    transform: scale(1.05);
    filter: grayscale(0%);
}

@media only screen and (max-width: 767px) {
    .colum{
        width: 94%;
        margin: 3%;
    }

    #slike{
        flex-direction: column;
    }

    .colum img{
        filter: grayscale(0%);
    }
}